<div class="ant-modal main-div">
    <div class="side-flex">
        <h2 style="text-align:center; color:white;">
            <i nz-icon nzType="customer-service" nzTheme="outline"></i>
            <br>
            Help_desk
        </h2>
    </div>
    <div class="form-div" nz-row style="width:70%; display: flex; justify-content: center;">
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user" style="height:40px;">
                        <input type="text" nz-input formControlName="userName" placeholder="Username" nzSize="large" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                    <nz-input-group nzPrefixIcon="lock" style="height:40px;">
                        <input type="password" nz-input formControlName="password" placeholder="Password"
                            nzSize="large" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <!-- <div nz-row class="login-form-margin">
                <div nz-col>
                    <a class="login-form-forgot">Forgot password</a>
                </div>
            </div> -->
            <div style="display: flex; justify-content: center;">
                <button nz-button style="height: 35px;" class="button-class login-form-button" [nzType]="'primary'">
                    Login</button>
            </div>
        </form>
    </div>
</div> 