<div [formGroup]="validateForm" style="margin: 25px; height:500px; border: 2px solid rgb(202, 202, 202); 
    padding: 15px; pointer-events: all !important">

    <div style="font-size: 18px; margin-top:2vh; margin:12px; padding: 12px; background-color: #007BFF;">
        <h2 style="text-align:center; color:white;">Query Raising</h2>
    </div>

    <div style="text-align: center; margin-top:100px; margin-bottom:100px; padding:12px; font-size:18px;">

        <h1 style="font-size: 28px;">DSRT Help-Desk</h1>

        <div style="padding:15px;">
            <nz-select class="ant-col" formControlName="ticketType" nzShowSearch nzAllowClear nzPlaceHolder="Select"
                nzSize="large" style="width: 200px;" (ngModelChange)="getMasterOption()">
                <nz-option [nzLabel]="data.type" [nzValue]="data.ticketId" *ngFor="let data of ticketType">
                </nz-option>
            </nz-select>

            <nz-select class="ant-col" formControlName="masterTitle" nzShowSearch nzAllowClear nzPlaceHolder="Select"
                nzSize="large" style="width: 200px;" (ngModelChange)="getMasterSubTitle()"
                *ngIf="validateForm.controls.ticketType.value != null">
                <nz-option [nzLabel]="data.masterTitle" [nzValue]="data.masterId"
                    *ngFor="let data of dataSetMasterTitle; let i = index">
                </nz-option>
            </nz-select>

            <nz-select class="ant-col" formControlName="masterSubTitle" nzShowSearch nzAllowClear nzPlaceHolder="Select"
                style="width: 200px;" nzSize="large" *ngIf="validateForm.controls.masterTitle.value != null">
                <nz-option *ngFor="let subTitle of dataSetSubTitle" [nzLabel]="subTitle.subTitle"
                    [nzValue]="subTitle.id"></nz-option>
            </nz-select>
        </div>

        <div>
            <button class="ant-btn-round ant-row-center" nz-button style="margin-top:45px;" nzType="primary"
                [disabled]="validateForm.invalid" nzSize="large" (click)="raiseIssue()">Raise Issue</button>

            <nz-modal [nzStyle]="{ top: '25vh' }" [(nzVisible)]="modalVisible" nzTitle="Comment Your Issue"
                [nzOkLoading]="spinOnClick" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

                <form nz-form [formGroup]="modalForm">
                    <!-- <ng-container *nzModalContent> -->
                    <nz-form-item *nzModalContent>
                        <nz-form-label [nzSm]="0" [nzXs]="0" nzRequired nzFor="comment">Comment</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The comment is required">
                            <textarea rows="4" nz-input placeholder="Comment Your Issue" formControlName="issueComment"
                                [nzRequired]="true" id="comment" nzAutosize></textarea>

                            <div style="margin-top: 20px;">

                                <!-- <input type="file" id="file" (change)="getFileDetails($event)" (click)="onUpload()"
                                    formControlName="attachImage" multiple /> -->

                                <h3>Attach File: </h3>
                                <i style="color: rgb(89, 168, 69); font-size: 32px;" nz-icon nzType="file-add"
                                    nzTheme="fill" (click)="inputFile.click()">
                                    <input type="file" style="display:none;" (change)="getFileDetails($event)" multiple
                                        #inputFile>
                                </i>

                                <div style="margin-top:15px; border:2px solid #84bfff;">
                                    <nz-table #fileUploadTable [nzData]="fileInfo" [nzPageSize]="4">
                                        <thead>
                                            <tr>
                                                <th nzWidth="'25px'">#</th>
                                                <th nzWidth="'25px'">Name</th>
                                                <th nzWidth="'25px'">Size</th>
                                                <th nzWidth="'25px'">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let getFileInfo of fileUploadTable.data; let sno = index;">
                                                <td>{{sno+1}}</td>
                                                <td>{{getFileInfo.fileName}}</td>
                                                <td>{{getFileInfo.fileSize}}</td>
                                                <td>
                                                    <i nz-icon style="color: red; font-size: 18px;" nzType="delete"
                                                        nzTheme="fill" (click)="removeFile(sno)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                    <!-- </ng-container> -->
                </form>
            </nz-modal>
        </div>

    </div>
    <a class="ant-col-lg-offset-20" routerLink="/queryList">Re-direct</a>
</div>