<div [formGroup]="validateForm" style="margin: 25px; height:500px; border: 2px solid rgb(202, 202, 202); 
padding: 15px; pointer-events: all !important">

    <div style="font-size: 18px; margin-top:2vh; margin:12px; padding: 12px; background-color: #007BFF;">
        <h2 style="text-align:center; color:white;">Query Raising</h2>
    </div>

    <div style="text-align: center; margin-top:100px; margin-bottom:100px; padding:12px; font-size:18px;">

        <h1 style="font-size: 28px;">DSRT Help-Desk</h1>

        <div style="padding: 15px;">
            <nz-select class="ant-col" formControlName="masterOptions" nzShowSearch nzAllowClear nzPlaceHolder="Select"
                nzSize="large" style="width: 200px;" [(ngModel)]="selectedTitle" (ngModelChange)="getMasterSubTitle()">
                <nz-option [nzLabel]="data.masterTitle" [nzValue]="data.masterId"
                    *ngFor="let data of dataSet; let i = index">
                </nz-option>
            </nz-select>

            <nz-select class="ant-col" formControlName="masterSubTitle" nzShowSearch nzAllowClear nzPlaceHolder="Select"
                style="width: 200px;" [(ngModel)]="selectedSubTitle" nzSize="large"
                *ngIf="validateForm.controls.masterOptions.value != null">
                <nz-option *ngFor="let subTitle of dataSetSubTitle" [nzLabel]="subTitle.subTitle"
                    [nzValue]="subTitle.id"></nz-option>
            </nz-select>
        </div>

        <div>
            <button class="ant-btn-round ant-row-center" nz-button style="margin-top:45px;" nzType="primary"
                [disabled]="validateForm.invalid" nzSize="large" (click)="raiseIssue()">Raise Issue</button>

            <nz-modal [nzStyle]="{ top: '25vh' }" [(nzVisible)]="modalVisible" nzTitle="Comment Your Issue"
                (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                <form nz-form [formGroup]="modalForm" (ngSubmit)="submitModal()">
                    <!-- <ng-container *nzModalContent> -->
                    <nz-form-item *nzModalContent>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The comment is required">
                            <textarea rows="4" nz-input placeholder="Comment Your Issue" formControlName="issueModal"
                                id="comment" nzAutosize nzRequired></textarea>
                        </nz-form-control>
                        <span style="margin-top: 50px;">
                        <input type = "file" (change) = "onFileAdded($event)" (click)="onUpload()" >
                        </span>
                    </nz-form-item>
                    <!-- </ng-container> -->
                </form>
            </nz-modal>
        </div>

    </div>
    <a class="ant-col-lg-offset-20" routerLink="/queryList">sys</a>
</div>