<div style="margin: 25px; height:500px; border: 2px solid rgb(202, 202, 202); 
padding: 15px; pointer-events: all !important">

    <div style="font-size: 18px; margin-top:2vh; margin:12px; padding: 12px; background-color: #007BFF;">
        <h2 style="text-align:center; color:white;">Query List</h2>
    </div>

    <div style="margin:20px; padding:12px; font-size:18px;">
        <nz-table #headerTable [nzData]="dataSet" [nzPageSize]="10" [nzScroll]="{ y: '200px' }">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Issue</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="getIssueDetails(data)" *ngFor="let data of headerTable.data; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ data.issue }}</td>
                    <td>{{ data.status }}
                        <span *ngIf="data.status == 'Assigned'">
                            <!--SYMBOL(--> <span>&#40;</span>{{issueAssignedTo}}<span>&#41;</span>
                            <!--SYMBOL)-->
                        </span>
                    </td>
                </tr>

                <div>
                    <nz-modal [(nzVisible)]="isVisible" nzTitle="Issue Details" (nzOnCancel)="handleCancel()"
                        [nzFooter]="modalFooter">
                        <ng-container *nzModalContent>
                            Issue Name: <b>{{dataForModal.issue}}</b>
                            <br>
                            <textarea rows="3" nz-input style="width:70%" placeholder="Issue Name" *ngIf="show"
                                [(ngModel)]="issueName"></textarea>
                            <br>
                            Issue Status: <b>{{dataForModal.status}}</b>
                            <br>
                            <nz-select style="width:70%" [(ngModel)]="issueStatus" *ngIf="show">
                                <nz-option *ngFor="let loop of listOfIssueStatus; let i = index" [nzValue]="loop.STATUS"
                                    [nzLabel]="loop.STATUS" ngDefaultControl ngModel="listOfIssueStatus"></nz-option>
                            </nz-select>
                            <div *ngIf="issueStatus == 'Assigned'">
                                Assign To: <br>
                                <nz-select style="width:70%" [(ngModel)]="issueAssignedTo">
                                    <nz-option *ngFor="let getMember of members" [nzValue]="getMember"
                                        [nzLabel]="getMember">
                                    </nz-option>
                                </nz-select>
                            </div>
                            <div *ngFor="let fileDetails of fileInformation; let val = index"
                                style="margin-top: 10px; padding:20px; background-color: rgb(240, 240, 240);">
                                File Name: <b>{{fileInformation[val].fileName}}</b>
                                <br>
                                File Size:<b>{{fileInformation[val].fileSize}}</b>
                                <br>
                            </div>
                        </ng-container>
                        <ng-template #modalFooter>
                            <button nz-button nzType="default" (click)="editIssue()">
                                <i style="padding:4px;" nz-icon nzType="edit" nzTheme="fill"></i>
                            </button>
                            <button nz-button nzType="default" (click)="handleCancel()">
                                Cancel
                            </button>
                            <button nz-button nzType="primary" (click)="handleOk(dataForModal)"
                                [nzLoading]="isConfirmLoading">
                                Submit
                            </button>
                        </ng-template>
                    </nz-modal>
                </div>
            </tbody>
        </nz-table>

    </div>


</div>
<a class="ant-col-lg-offset-20" routerLink="/queryRaising">Re-direct</a>