<div style="margin: 25px; height:500px; border: 2px solid rgb(202, 202, 202); 
padding: 15px; pointer-events: all !important">

    <div style="font-size: 18px; margin-top:2vh; margin:12px; padding: 12px; background-color: #007BFF;">
        <h2 style="text-align:center; color:white;">Query List</h2>
    </div>

    <div style="margin:20px; padding:12px; font-size:18px;">
        <nz-table #headerTable [nzData]="dataSet" [nzPageSize]="10" [nzScroll]="{ y: '200px' }">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Issue</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="getIssueDetails(i)" *ngFor="let data of headerTable.data; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ data.issue }}</td>
                    <td>{{ data.status }}</td>
                </tr>

                <div>
                    <nz-modal [(nzVisible)]="isVisible" nzTitle="Issue Details" nzOkText="Ok" nzCancelText="Cancel"
                        [nzFooter]="modalFooter">
                        <ng-container *nzModalContent>
                            <!-- <div *ngFor="let data of headerTable.data;">
                                <p> Issue Name: <b>{{data.issue}} </b><br>
                                    Issue Status: <b>{{data.status}}</b> <br>
                                    <span style="text-decoration: underline;"> File Information: </span> <br>
                                    <span *ngFor="let fileData of data.fileInfo; let selectedIssue = index;">
                                        File Name: <b>{{fileData.fileName}}</b>,
                                        File Size:<b>{{fileData.fileSize}}</b>
                                        <br>
                                    </span>
                                </p>
                                <hr><br>
                            </div> -->
                            Issue Name: <b>{{issueName}}</b>
                            <br>
                            <input nz-input style="width:50%" placeholder="Issue Name" *ngIf="show"
                                [(ngModel)]="issueName" />
                            <br>
                            Issue Status: <b>{{issueStatus}}</b>
                            <br>
                            <!-- <ul *ngFor="let loop of listOfIssueStatus;"><li *ngIf="show" >{{loop.STATUS}}</li></ul> -->
                            <nz-select style="width:50%" ngModel="listOfIssueStatus" *ngIf="show">
                                <nz-option *ngFor="let loop of listOfIssueStatus; let i = index" [nzValue]="loop.STATUS"
                                    [nzLabel]="loop.STATUS"></nz-option>
                            </nz-select>
                            <div *ngFor="let fileDetails of fileInformation; let val = index"
                                style="margin-top: 10px; padding:20px; background-color: rgb(240, 240, 240);">
                                File Name: <b>{{fileInformation[val].fileName}}</b>
                                <br>
                                File Size:<b>{{fileInformation[val].fileSize}}</b>
                                <br>
                            </div>
                        </ng-container>
                        <ng-template #modalFooter>
                            <button nz-button nzType="default" (click)="editIssue()">
                                <i style="padding:4px;" nz-icon nzType="edit" nzTheme="fill"></i>
                            </button>
                            <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
                            <button nz-button nzType="primary" (click)="handleOk()"
                                [nzLoading]="isConfirmLoading">Submit</button>
                        </ng-template>
                    </nz-modal>
                </div>
            </tbody>
        </nz-table>

    </div>


</div>
<a class="ant-col-lg-offset-20" routerLink="/queryRaising">Re-direct</a>